
.ListEmp__main {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.ListEmp__main__table {
    border-collapse: collapse;
    min-width: 700px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    thead tr {
        background-color: #2e2e2e;
        color: #ffffff;
        font-weight: bold;
        text-align: left;
    }

    th, td {
        padding: 12px 20px;
    }

    tbody tr {
        border-bottom: 1px solid darken($color: $gray, $amount: 20);
        background-color: #ffffff;
    }

    tbody tr:nth-of-type(even) {
        background-color: $gray;
    }

    tbody tr:last-of-type {
        border-bottom: #2e2e2e 2.5px solid;
    }
}

.ListEmp__main__table__edit {
    border: none;
    background-color: $editB;
    color: #ffffff;
    border-radius: 5px;
    padding: 4px;
    font-size: 1em;
    cursor: pointer;
}

.ListEmp__main__table__delete {
    border: none;
    background-color: $deleteB;
    color: #ffffff;
    border-radius: 5px;
    padding: 4px;
    font-size: 1em;
    cursor: pointer;
}

.tableLink {
    color: black;
    text-decoration: underline;
}