
// Colors
$gray: #f2f2f2;
$editB: #0275d8;
$deleteB: #d9534f;
$submitB: #5cb85c;

// Margenes y estilos
* {
    margin: 0;
    list-style: none;
    text-decoration: none;
}

// Border-Box Config
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $gray;
    font-family: Arial, Helvetica, sans-serif;
}